In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('resources/data/2007-2018-grant-allocations.csv')
df.head()

   Year State       Org Name Program Name  Award Amount
0  2018    AK         Alaska         CDBG     2958723.0
1  2018    AK         Alaska          ESG      235176.0
2  2018    AK         Alaska         HOME     3008138.0
3  2018    AK         Alaska          HTF     3000000.0
4  2018    AK  Anchorage, AK         CDBG     1726068.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131149 entries, 0 to 131148
Data columns (total 5 columns):
Year            131149 non-null int64
State           131149 non-null object
Org Name        78176 non-null object
Program Name    131149 non-null object
Award Amount    131149 non-null float64
dtypes: float64(1), int64(1), object(3)
memory usage: 5.0+ MB

In [4]:
df.nunique()

Year               16
State              56
Org Name         4359
Program Name        8
Award Amount    83499
dtype: int64

## Assess

- Org Name is not an important category at this time and can be removed
- Year is currently int but is better as string
- Data is to be grouped by State and Year
- Column names are capitalizaed and have spaces
- There are 56 codes for states, the regions outside of the United States are to be removed